* {
    margin: 0;
    padding: 0;
}


.swiper {
    height: 810px;
    width: 100%;
    background-color: #141414;
    padding-top: 60px;

}

.featured_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.featured_img {
    object-fit: contain;
    mix-blend-mode: difference;
    transform: translate(95%, -100%);
    mix-blend-mode: normal;
    height: 700px;
    width: 800px;

}

.products_price {
    font-size: 24px;
    margin-top: 10px;
}

.products_price small {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
}


.swiper-pagination-bullet {

    background-color: black !important;
    opacity: 15;
}

.swiper-pagination-bullet-active {
    background-color: red !important;
    opacity: 5;
}


.bgtext {
    transform: translate(1%, 0%);
    font-size: 320px;
    font-weight: bolder;
    mix-blend-mode: color-dodge;
    color: rgba(255, 255, 255, 0.1);
}

.pdname {
    transform: translate(10%, -750%);
    font-size: 27px;
    font-weight: bold;
    color: #a8adc1;
}

.tagline {
    transform: translate(27%, -155%);
    font-size: 68px;
    width: 700px;
    font-weight: bold;
    color: #a8adc1;
}

.price{
    transform: translate(10%, -490%);
    font-size: 40px;
    font-weight: bold;
    color: #a8adc1;
}


.btn{
    transform: translate(150%, -1300%);
    background-color: red;
    border: 0px;
    font-size: larger;
    color: #a8adc1;
    padding: 20px;
    border-radius: 5px;
}

