

.layoutcards{
   
    border: 1px solid #a8adc1;
    width: 380px;   
}

 .product-details{
    padding: 10px;
 }
 
 .product-image{
     height: 280px;
     width: 80%;
     padding: 15px;  
     
 }
 
 .product-image:hover{
   width: 86%;
   height: 281px;  
 }
 .line{
     
     border: 1px solid #a8adc1 ;
 }

 .imageback{
    background-color: #161819;
    display: flex;
    justify-content: center;
    
 }

 .product-title{
    color: #a8adc1;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
 }

 .product-desc{
    color: #a8adc1;
    font-size: 20px;
    padding: 0px 0px 10px 0px;
 }

 .product-price{
    color: #a8adc1;
    font-size: 25px;
    padding: 15px 0px 15px 0px;
 }

 .productbtn{
    width: 100%;
    padding: 10px;
    font-size: x-large;
    border: 0px ;
    border-radius: 5px;
    background-color: red;
    color:#a8adc1;
 }



 
 